.contact-container{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:linear-gradient(
  -45deg,
  #11998e,
  #38ef7d,
  #00c9ff,
  #92fe9d
  );

  background-size:400% 400%;

  animation:bgMove 10s ease infinite;
}

@keyframes bgMove{

  0%{background-position:0% 50%;}

  50%{background-position:100% 50%;}

  100%{background-position:0% 50%;}
}

.contact-card{

  width:500px;

  padding:35px;

  border-radius:25px;

  background:rgba(255,255,255,0.15);

  backdrop-filter:blur(15px);

  color:white;

  text-align:center;
}

.contact-card:hover{

  box-shadow:
  0 0 25px white;
}

input,
textarea{

  width:100%;

  padding:15px;

  margin:12px 0;

  border:none;

  border-radius:12px;

  outline:none;

  color:white;

  background:
  rgba(255,255,255,0.15);

  transition:.4s;
}

input::placeholder,
textarea::placeholder{

  color:white;
}

input:focus,
textarea:focus{

  transform:scale(1.03);

  box-shadow:
  0 0 15px white;
}

button{

  width:100%;

  padding:15px;

  border:none;

  border-radius:15px;

  color:white;

  cursor:pointer;

  font-size:18px;

  background:linear-gradient(
  45deg,
  #ff6b6b,
  #feca57
  );

  transition:.4s;
}

button:hover{

  transform:translateY(-5px);

  box-shadow:
  0 0 20px #feca57,
  0 0 35px #ff6b6b;
}