.student-container{

    min-height:100vh;

    padding:40px;

    background:linear-gradient(
    135deg,
    #667eea,
    #764ba2,
    #6a11cb
    );

    background-size:400% 400%;

    animation:bgMove 10s ease infinite;
}

@keyframes bgMove{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }
}

h1{

    text-align:center;

    color:white;

    margin-bottom:30px;

    font-size:40px;
}

.form-section{

    display:flex;

    flex-wrap:wrap;

    gap:15px;

    justify-content:center;

    margin-bottom:30px;
}

input{

    width:250px;

    padding:15px;

    border:none;

    border-radius:12px;

    outline:none;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(15px);

    color:white;

    transition:.4s;
}

input::placeholder{
    color:white;
}

input:focus{

    transform:scale(1.05);

    box-shadow:0 0 15px white;
}

button{

    padding:15px 25px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    color:white;

    font-weight:bold;

    background:linear-gradient(
    45deg,
    #ff6b6b,
    #feca57
    );

    transition:.4s;
}

button:hover{

    transform:translateY(-5px);

    box-shadow:0 0 20px #feca57;
}

table{

    width:100%;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(15px);

    border-radius:20px;

    overflow:hidden;

    color:white;

    border-collapse:collapse;
}

th{

    background:rgba(255,255,255,0.2);

    padding:15px;
}

td{

    padding:15px;

    text-align:center;
}

tr{

    transition:.4s;
}

tr:hover{

    background:rgba(255,255,255,0.15);

    transform:scale(1.01);
}

.delete-btn{

    background:linear-gradient(
    45deg,
    #ff416c,
    #ff4b2b
    );
}

.delete-btn:hover{

    box-shadow:0 0 15px #ff416c;
}