footer{

    margin-top:50px;

    text-align:center;

    padding:30px;

    background:rgba(236, 18, 236, 0.15);

    backdrop-filter:blur(15px);

    color:blue;

    transition:0.4s;
}

footer:hover{

    box-shadow:
    0 0 20px rgba(20, 230, 121, 0.3);
}

footer h3{

    margin-bottom:10px;

    color:black;
}