<div class="dashboard-container">

  <div class="welcome-section">
    <h1>🎓 Smart Student Portal</h1>
    <p>Welcome to Student Management Dashboard</p>
  </div>

  <div class="cards">

    <div class="card students">
      <h2>{{totalStudents}}</h2>
      <h3>Total Students</h3>
      <span>👨‍🎓</span>
    </div>

    <div class="card active">
      <h2>{{activeStudents}}</h2>
      <h3>Active Students</h3>
      <span>✅</span>
    </div>

    <div class="card courses">
      <h2>{{totalCourses}}</h2>
      <h3>Courses</h3>
      <span>📚</span>
    </div>

    <div class="card api">
      <h2>{{apiUsers}}</h2>
      <h3>API Users</h3>
      <span>🌐</span>
    </div>

  </div>

  <div class="announcement glass-card">

    <h2>📢 Latest Updates</h2>

    <ul>
      <li>Angular Project Submission Open</li>
      <li>Student Registration Active</li>
      <li>API Integration Completed</li>
      <li>New Courses Added</li>
    </ul>

  </div>

</div>