.users-container{

padding:40px;

min-height:100vh;

background:linear-gradient(
135deg,
#d919af,
#00f2fe
);
}

.card{

background:rgba(255,255,255,0.15);

backdrop-filter:blur(15px);

padding:20px;

margin:20px;

border-radius:20px;

color:white;

transition:.4s;
}

.card:hover{

transform:translateY(-10px);

box-shadow:0 0 20px white;
}